<a href="https://colab.research.google.com/github/Shovon198915/CSE475/blob/main/lab/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Dataset

In [1]:
!gdown --id 1Q6pdhzWFu2oegWMPvrOE8dWTra8FJsTf

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:139: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1Q6pdhzWFu2oegWMPvrOE8dWTra8FJsTf
To: /content/Mall_Customers.csv
100% 3.98k/3.98k [00:00<00:00, 14.8MB/s]

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score, davies_bouldin_score

In [4]:
df = pd.read_csv("/content/Mall_Customers.csv")

# Preprocessing and Feature Engineering

In [6]:
from sklearn.preprocessing import OneHotEncoder

df.replace(' ?', pd.NA, inplace=True)
df.dropna(inplace=True)

# Drop CustomerID as it's not a feature for clustering
df_unsupervised = df.drop(columns=['CustomerID'])

# Split features into categorical and numerical
categorical_features = df_unsupervised.select_dtypes(include=['object']).columns
numerical_features = df_unsupervised.select_dtypes(include=['int64', 'float64']).columns

# Standard scaling for numerical features
scaler = StandardScaler()
scaled_numerical_data = scaler.fit_transform(df_unsupervised[numerical_features])

# One-hot encoding for categorical features (Gender)
encoder = OneHotEncoder(drop='first')
encoded_categorical_data = encoder.fit_transform(df_unsupervised[categorical_features])

# Concatenate numerical and categorical data
processed_data = np.hstack([scaled_numerical_data, encoded_categorical_data.toarray()])

# Create the final processed DataFrame
final_columns = numerical_features.tolist() + encoder.get_feature_names_out(categorical_features).tolist()
processed_data_df = pd.DataFrame(processed_data, columns=final_columns)

processed_data_df.head()

        Age  Annual Income (k$)  Spending Score (1-100)  Gender_Male
0 -1.424569           -1.738999               -0.434801          1.0
1 -1.281035           -1.738999                1.195704          1.0
2 -1.352802           -1.700830               -1.715913          0.0
3 -1.137502           -1.700830                1.040418          0.0
4 -0.563369           -1.662660               -0.395980          0.0